
@{
    ViewBag.Title = "Área Cliente";
}

<div class="profile">
    <div class="container">
        <h1 style="color: #000; font-size: 60px; font-weight: 700;">Área Cliente</h1>
    </div>
    <br />
    <div class="profile-picture">
        <img src="~/Imagens/neymar.jpg" style="width: 150px; height: 150px; border-radius: 50%;" />
    </div>
    <h2 class="profile-name">Neymar Júnior</h2>
    <p class="profile-description">Descrição do perfil</p>
    <p class="profile-welcome">Seja bem-vindo(a), <span class="welcome-name">Neymar</span>!</p>
    <ul class="profile-details">
        <li><strong>E-mail:</strong> ohneymaroh@example.com</li>
        <li><strong>Localização:</strong> Rua do Magaritiba, 189 </li>
        <li><strong>Idade:</strong> 23 anos</li>
        <li><strong>Cargo:</strong> Cliente</li>
        <li><strong>Telefone:</strong> 11 9 80347685</li>
    </ul>
</div>




<style>

    .profile {
        text-align: center;
        margin: 20px;
        padding-top: 80px;
        padding-bottom: 110px;
    }

    .profile-picture {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #ccc;
        margin: 0 auto;
    }

    .profile-name {
        font-size: 24px;
        margin-top: 10px;
    }

    .profile-description {
        font-style: italic;
        color: #888;
    }

    .profile-details {
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
    }

        .profile-details li {
            margin-bottom: 5px;
        }

    .profile-welcome {
        font-size: 28px;
        margin-top: 10px;
    }

    .welcome-name {
        font-weight: bold;
    }

    .container {
        background-color: #D9D9D9;
        border-radius: 47px 47px 0px 0px;
    }
</style>

