@{
    ViewBag.Title = "Home";
}
<div id="carouselExample" class="carousel carousel-dark slide">
    <div class="carousel-inner">
        <div class="carousel-item active" style="width:70%; margin-left:16%">
            <img src="~/Imagens/carrosel.png" class="d-block w-100" alt="...">
            @*<div class="carousel-caption d-none d-md-block">
                    <h5>O cuidado</h5>
                    <p style="font-size:30px; position:absolute;">com o seu Pet</p>
                </div>*@
        </div>
        <div class="carousel-item" style="width: 70%; margin-left: 16%">
            <img src="~/Imagens/carrosel02.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="width: 70%; margin-left: 16%; margin-top:1%">
            <img src="~/Imagens/carrosel03.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <i class="fa-solid fa-play fa-rotate-180 fa-2xl" style="color:#111853"></i>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <i class="fa-solid fa-play fa-2xl" style="color:#111853"></i>
    </button>
</div>
<button type="button" class="button1">
    <a href="/Animal/Animal" style="text-decoration:none; color:white">Saiba Mais sobre nossos cuidados com os animais</a>
</button>
<br />
<br />
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card-body" style="width: 18rem; padding: 10px; border-radius: 10%; background-color: #111853">
                <img src="~/Imagens/papagaio.png" class="card-img-top" alt="...">
                @*<div class="card-body"style="background-color:#111853; border-radius: 0px 0px 30px 30px">*@
                <p class="card-text" style="color: white; font-size: 30px; font-weight: 600;">AVES</p>
                @*</div>*@
            </div>
        </div>
        <div class="col">
            <div class="card-body" style="width: 18rem; padding: 10px; border-radius: 10%; background-color: #111853">
                <img src="~/Imagens/gato.png" class="card-img-top" alt="...">
                @*<div class="card-body"style="background-color:#111853; border-radius: 0px 0px 30px 30px">*@
                <p class="card-text" style="color: white; font-size: 30px; font-weight: 600;">GATOS</p>
                @*</div>*@
            </div>
        </div>
        <div class="col">
            <div class="card-body" style="width: 18rem; height:100%; padding: 10px; border-radius: 10%; background-color: #111853">
                <img src="~/Imagens/cachorro.png" class="card-img-top" alt="...">
                @*<div class="card-body" style="background-color:#111853; border-radius: 0px 0px 30px 30px">*@
                <p class="card-text" style="color: white; font-size: 30px; font-weight: 600;">CACHORROS</p>
                @*</div>*@
            </div>
        </div>
        <div class="col">
            <div class="card-body" style="width: 21rem; height: 100%; padding: 10px; border-radius: 10%; background-color: #111853; ">
                <img src="~/Imagens/peixe.png" class="card-img-top" alt="..." style="width:20rem; height:390px">
                @*<div class="card-body" style="background-color:#111853; border-radius: 0px 0px 30px 30px">*@
                <p class="card-text" style="color: white; font-size: 30px; font-weight: 600;">PEIXES</p>
                @*</div>*@
            </div>
        </div>
    </div>
</div>
<br />
<br />
<button type="button" class="button1">
    <a href="/Home/Planos" style="text-decoration:none; color:white">Planos de Saúde para seu Pet - Clique aqui</a>
</button>
<br />
<br />
<div class="align-text-top3" ; style="background-color: #111853; border-radius: 25px; width: 60%; margin-left: 20%; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); padding-top: 1%; padding-bottom: 0.1%">
    <p style="color: white; font-size: 20px; text-align: center; font-weight: 600;">Seu Pet protegido com a melhor equipe direcionada aos cuidados dos seus bichinhos.</p>
</div>
<br />
<br />
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card-text-center" style="width: 18rem; padding-bottom: 12px; border-radius: 10%; background-color: #3EE757">
                <div class="card-text-center" style="width: 18rem; padding: 10px; border-radius: 5%; background-color: #111853">
                    <img src="~/Imagens/gato1.png" class="card-img-top" alt="...">
                    <div style="background-color:#111853; height: 270px">
                        <p class="card-text" style="color: white; font-size: 30px">PetCare Base</p>
                        <p class="card-text" style="color: white; font-size: 30px">Só o Básico</p>
                    </div>
                    <div style="background-color:#111853; ">
                        <p class="card-text" style="color: white; font-size: 30px">R$ 49,00/ Mês</p>
                    </div>
                </div>
                <p class="card-text" style="color: white; font-size: 30px; font-weight:600;">
                <a href="/Login/Login" style="text-decoration:none; color:white;">Contratar</a>
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card-text-center" style="width: 18rem; padding-bottom: 12px; border-radius: 10%; background-color: #B156E0 ">
                <div class="card-text-center" style="width: 18rem; padding: 10px; border-radius: 5%; background-color: #111853">
                    <img src="~/Imagens/gato2.png" class="card-img-top" alt="...">
                    <div style="background-color:#111853; height: 270px">
                        <p class="card-text" style="color: white; font-size: 30px">PetCare Plus</p>
                        <p class="card-text" style="color: white; font-size: 30px">Mais</p>
                    </div>
                    <div style="background-color:#111853; ">
                        <p class="card-text" style="color: white; font-size: 30px">R$ 79,00/ Mês</p>
                    </div>
                </div>
                <p class="card-text" style="color: white; font-size: 30px; font-weight:600;">
                    <a href="/Login/Login" style="text-decoration:none; color:white;">Contratar</a>
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card-text-center" style="width: 18rem; padding-bottom: 12px; border-radius: 10%; background-color: #EAD302">
                <div class="card-text-center" style="width: 18rem; padding: 10px; border-radius: 5%; background-color: #111853">
                    <img src="~/Imagens/gato3.png" class="card-img-top" alt="...">
                    <div style="background-color:#111853; height: 270px">
                        <p class="card-text" style="color: white; font-size: 30px">PetCare Gold</p>
                        <p class="card-text" style="color: white; font-size: 30px">Gold</p>
                    </div>
                    <div style="background-color:#111853; ">
                        <p class="card-text" style="color: white; font-size: 30px">R$ 109,00/ Mês</p>
                    </div>
                </div>
                <p class="card-text" style="color: white; font-size: 30px; font-weight: 600;">
                    <a href="/Login/Login" style="text-decoration:none; color:white;">Contratar</a>
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card-text-center" style="width: 18rem; padding-bottom: 12px; border-radius: 10%; background-color: #D92D1F">
                <div class="card-text-center" style="width: 18rem; padding: 10px; border-radius: 5%; background-color: #111853">
                    <img src="~/Imagens/gato4.png" class="card-img-top" alt="...">
                    <div style="background-color:#111853; height: 270px">
                        <p class="card-text" style="color: white; font-size: 30px">PetCare Premium</p>
                        <p class="card-text" style="color: white; font-size: 30px">Premium</p>
                    </div>
                    <div style="background-color:#111853; ">
                        <p class="card-text" style="color: white; font-size: 30px">R$ 149,00/ Mês</p>
                    </div>
                </div>
                <p class="card-text" style="color: white; font-size: 30px; font-weight: 600;">
                    <a href="/Login/Login" style="text-decoration:none; color:white;">Contratar</a>
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />

<h1 style="color: white; font-weight:700; font-size:55px"><span class="legal">S</span>obre <span class="legal">N</span>ós</h1>
<div class="container">
    <div class="row">
        <div class="col-sm" style="background-color:#ffffff"><img src="~/Imagens/logo-sobre.png" alt="..." style="width:90%; margin-left:0px"></div>
        <div class="col-sm" style="background-color:#ffffff">
            <p style="font-size: 20px; margin-top:30%;">
            <p style="font-size: 40px; font-weight: 600; color: #111853">Nossa Logo</p>
            <span class="legal" style="font-weight:700;">Paleta de cores</span>
            <br /><br />
            <p style="font-size:20px;">O nome Pet Health surgiu como uma iniciativa de cuidar dos animais, visando na saúde do seu Pet (Sáude do seu Pet = Pet Health). As cores tem um valor significativo, pois relembra, a tranquilidade e paz. Os nossos valores vão além de tudo</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm" style="background-color:#ffffff">
            <p style="font-size: 20px; margin-top:40%;">
            <p style="font-size: 40px; font-weight: 600; color: #111853">Empresa</p>
            <span class="legal" style="font-weight:700;">Estamos aqui para mudar o mercado de cuidados relacionados aos seus Pets.</span>
            <p style="font-size:20px;">Somos uma empresa que busca e preza a qualidade e responsabilidade no que fazemos. Desde sempre pensamos no melhor para você quanto tanto para seu bichinho. A nossa iniciativa se deu por conta de uma grande causa, a segurança e o melhor cuidado possível para os animais.</p>
            <div class="btn1">
               <button type="button">
                   <a href="/Home/Sobre" style="text-decoration:none; color:white">Leia Mais</a>
               </button>
            </div>
        </div>
        <div class="col-sm" style="background-color:#ffffff"><img src="~/Imagens/caredog.png" alt="..." style="width:90%; margin-left:60px;"></div>
    </div>
</div>

<div class="container-fluid">
    <h1 class="text-center mt-5 display-3 fw-bold" style="font-size:40px; color:white;">Nossos Serviços</h1>
    <hr class="mx-auto mb-5 w-25" />
    <div class="row mb-5">
        <div class="col-12 col-sm-6 col-md-3 m-auto">
            @*card inicia aqui*@
            <div class="card shadow">
                @*<img src="~/Imagens/avalia.png" alt="" class="card-img-top" />*@
                <div class="card-body">
                    <h3 class="text-center">Avaliação Diagnóstica</h3>
                    <hr class="mx-auto w-100" />
                    <p>
                        Fazemos avaliações focadas no desempenho do seu animal, buscando conhecer e
                        apresentar possíveis recomendações e adquirir um cuidade e um plano especial.
                    </p>
                </div>
            </div>
            @*card termina aqui*@
        </div>
        <div class="col-12 col-sm-6 col-md-3 m-auto">
            @*card inicia aqui*@
            <div class="card shadow">
                @*<img src="~/Imagens/avalia.png" alt="" class="card-img-top" />*@
                <div class="card-body">
                    <h3 class="text-center">Banho e Tosa</h3>
                    <hr class="mx-auto w-100" />
                    <p>
                        Seu pet deve ter a pelagem limpa, brilhante, macia, bem cuidada e cheirosa. Por isso garantimos esses cuidados com seu Pet
                        Esse é um dos nossos principais serviços.
                    </p>
                </div>
            </div>
            @*card termina aqui*@
        </div>
        <div class="col-12 col-sm-6 col-md-3 m-auto">
            @*card inicia aqui*@
            <div class="card shadow">
                @*<img src="~/Imagens/avalia.png" alt="" class="card-img-top" />*@
                <div class="card-body">
                    <h3 class="text-center">Hospedagem</h3>
                    <hr class="mx-auto w-100" />
                    <p>
                        Garantimos a segurança e os cuidados do seu Pet por um período de tempo, esse serviço de custódia é muito benéfico tanto para o Dono quanto para seu pet
                        pois estará em boas mãos.
                    </p>
                </div>
            </div>
            @*card termina aqui*@
        </div>
        <div class="col-12 col-sm-6 col-md-3 m-auto">
            @*card inicia aqui*@
            <div class="card shadow">
                @*<img src="~/Imagens/avalia.jpg" alt="" class="card-img-top" />*@
                <div class="card-body">
                    <h3 class="text-center">Exames Laboratoriais</h3>
                    <hr class="mx-auto w-100" />
                    <p>
                        Fazemos avaliações focadas no desempenho do seu animal, buscando conhecer e
                        apresentar possíveis recomendações e adquirir um cuidade e um plano especial.
                    </p>
                </div>
            </div>
            @*card termina aqui*@
        </div>
        <div class="col-12 col-sm-6 col-md-4 m-auto" style="padding-top:30px">
            @*card inicia aqui*@
            <div class="card shadow">
                @*<img src="~/Imagens/avalia.jpg" alt="" class="card-img-top" />*@
                <div class="card-body">
                    <h3 class="text-center">Exames Veterinários</h3>
                    <hr class="mx-auto w-100" />
                    <p>
                        Exames realizados nas próprias clínicas da Pet Health, com intuito de facilitar a locomoção do seu Pet,
                        facilitando meios que já podem ser resolvidos na própria clínica.
                    </p>
                </div>
            </div>
            @*card termina aqui*@
        </div>
        <div class="col-10 col-sm-8 col-md-4 m-auto" style="padding-top:30px">
            @*card inicia aqui*@
            <div class="card shadow">
                @*<img src="~/Imagens/avalia.jpg" alt="" class="card-img-top" />*@
                <div class="card-body">
                    <h3 class="text-center">Taxi Dog</h3>
                    <hr class="mx-auto w-100" />
                    <p>
                        Não há tempo para trazer seu pet até nós?
                        Nos chame pelos contatos e peça já o seu Taxi Dog com direito a buscar e entregar seu pet.
                    </p>
                </div>
            </div>
            @*card termina aqui*@
        </div>
    </div>
</div>

<br />
<br />
<br />
<div class="container text-center">
    <div class="row row-cols-2">
        <div class="col"><img src="~/Imagens/logo-app.png" class="card-img-top" alt="..." style="width:135vh; margin-left:97px"></div>
        <img src="~/Imagens/play.png" style="width:100vh; position:absolute; margin-left:350px; padding-top:15px"/> 
    </div>
</div>
<hr style="color:blue;"/>
<footer class="rodape">
    <div class="support" style="background: #111853; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 190px 0px; transform: rotate(0.59deg); position: absolute; width: 400.66px; height: 300.03px; left: 995.43px; top: 4600px; ">
        <p style="margin-left:80px; color:white; padding-top:50px;"><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i> Rua Revolução Francesa, 1180, Central de Dúvidas</p>
        <p style="margin-left:80px; color:white; padding-top:10px;"><i class="fa-solid fa-phone" style="color: #ffffff;"></i>  11 97068-6099 </p>
        <p style="margin-left:80px; color:white; padding-top:10px;"><i class="fa-solid fa-envelope" style="color: #ffffff;"></i> supportpethealth@gmail.com </p>
    </div>
    <div class="support1" style="background: #111853; border-radius: 33px; position: absolute; width: 200px; height: 213px; left: 100px; top: 4650px;">
        <p style="margin-right:200px; color:white; text-align:center; padding-top:30px"></p>
        <a href="/Home/Index" style="text-decoration:none; color:white">Home</a><br />
        <a href="/Animal/Animal" style="text-decoration:none; color:white">Pets</a><br />
        <a href="/Home/Planos" style="text-decoration:none; color:white">Planos</a><br />
        <a href="/Home/Sobre" style="text-decoration:none; color:white">Sobre nós</a><br />
        <a href="/Login/Login" style="text-decoration:none; color:white">Log In</a><br />
    </div>
    <img src="~/Imagens/Patinhas.png" alt="..." style="width:170vh;" />
    <p>&copy; @DateTime.Now.Year - Pet Health</p>
</footer>



<style>
    .carousel-control-prev .fa-solid fa-play {
        width: 40px;
        height: 40px;
        color: black;
    }

    .carousel-control-next-icon {
        width: 40px;
        height: 40px;
        background-color: #000;
    }

    .textAbout {
        color: white;
        font-size: 25px;
        text-align: center;
    }
    
    .support1{
        text-align:center;
        color:white;
    }
    
    .col .card2 {
        height: 100%;
    }

    .legal {
        color: #111853;
    }

    .rodape {
        padding-top: 50px;
    }

    .card.card {
        z-index: 1;
        overflow: hidden;
        transition: .5s;
    }

        .card.card:hover {
            color: white;
            border-color: #174dca;
        }


        .card.card::before {
            content: "";
            position: absolute;
            left: -100%;
            top: 0%;
            background-color: #174dca;
            width: 100%;
            height: 100%;
            transition: 0.9s;
            z-index: -1;
        }

        .card.card:hover::before {
            left: 0%;
        }

    .btn1 button {
        background: grey;
        padding: 20px 32px;
        font-size: 16px;
        font-weight: bold;
        color: black;
        border: none;
        outline: none;
        box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 6%);
        text-decoration:none;
    }

        .btn1 button:hover {
            background-color: #174dca;
            color: white;
            transition: .3s;
            cursor: pointer;
            text-decoration: none;
        }

    .button1 {
        background-color: #111853;
        border-radius: 25px;
        width: 60%;
        margin-left: 20%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size:24px;
        font-weight:700;
        border: none;
    }

        .button1:hover {
            background-color: #174dca;
            color: white;
            transition: .3s;
            cursor: pointer;
            text-decoration: none;
        }

</style>