@model IEnumerable<PetHealth.Models.modelAnimal>

@{
    ViewBag.Title = "Planos de Saúde";
}


@*<div class="">
        <div class="row center">
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-6 mb-4" style="margin:2% 4%">
                            <div class="card h-100">
                                @if (item.fotoAnimal != null)
                                {
                                    <img class="card-img-right flex-auto d-none d-md-block" data-ng-src=" " alt="Thumbnail [300x300]"
                                         style="width: 300px; height: 300px;" src="@item.fotoAnimal" data-holder-rendered="true" />
                                }
                                else
                                {
                                    <img class="card-img-right flex-auto d-none d-md-block" data-ng-src=" " alt="Thumbnail [300x300]"
                                         style="width: 300px; height: 300px;" src="~/Imagens/image-not-found.jpg" data-holder-rendered="true" />
                                }
                                <div class="card-body">
                                    <h4 class="card-title">
                                        @Html.DisplayFor(modelItem => item.Animal)
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        @Html.DisplayFor(modelItem => item.descAnimal)
                                    </h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>*@
<div id="carouselExample" class="carousel carousel-dark slide">
    <div class="carousel-inner">
        <div class="carousel-item active" style="width:70%; margin-left:16%">
            <img src="~/Imagens/carrosel.png" class="d-block w-100" alt="...">
            @*<div class="carousel-caption d-none d-md-block">
                    <h5>O cuidado</h5>
                    <p style="font-size:30px; position:absolute;">com o seu Pet</p>
                </div>*@
        </div>
        <div class="carousel-item" style="width: 70%; margin-left: 16%">
            <img src="~/Imagens/carrosel02.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="width: 70%; margin-left: 16%; margin-top:1%">
            <img src="~/Imagens/carrosel03.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <i class="fa-solid fa-play fa-rotate-180 fa-2xl" style="color:#111853"></i>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <i class="fa-solid fa-play fa-2xl" style="color:#111853"></i>
    </button>
</div>
<div class="textcentro">
    <h4><span class="legal">P</span>lanos de <span class="editext">Saúde</span></h4>
</div>
<br />
<br />
<br />
<br />
<div class="container text-center">

    <div class="row g-0 text-center">
        <div class="col-sm-6 col-md-4">
            <div class="card" style="width: 16rem; padding: 10px; border-radius: 10%; background-color: #111853">
                <img src="~/Imagens/gato1.png" class="card-img-top" alt="...">
                @*<div class="card-body"style="background-color:#111853; border-radius: 0px 0px 30px 30px">*@
                <p class="card-text" style="color: white; font-size: 30px; font-weight: 600;">Plano Base</p>
                @*</div>*@
            </div>
        </div>
        <div class="col-6 col-md-8" style=" padding: 10px; border-radius: 10%; background-color: #111853; width: 350px">
            <p class="sobre-animal">Plano de Sáude Básico</p>
            <ul class="lista">
                <li>Cuidados básicos</li>
                <br />
                <li>Limpeza básica</li>
                <br />
                <li>Controle básico</li>
                <br />
                <li>Higiene e banho básico</li>
                <br />
                <li>Limpeza básica</li>
                <br />
                <li>Tosquia básica</li>
            </ul>
        </div>
        <div class="col-6 col-md-8" style=" padding: 10px; border-radius: 10%; background-color: #111853; width: 300px; margin-left: 50px;">
            <p class="desc">Plano focado em cuidados básicos para seu Pet, apenas para garantir um cuidado usual para seu animal.</p>
        </div>
    </div>

    <br />
    <br />
    <br />
    <div class="row g-0 text-center">
        <div class="col-sm-6 col-md-4">

            <div class="card" style="width: 16rem; padding: 10px; border-radius: 10%; background-color: #111853">
                <img src="~/Imagens/gato2.png" class="card-img-top" alt="...">
                @*<div class="card-body"style="background-color:#111853; border-radius: 0px 0px 30px 30px">*@
                <p class="card-text" style="color: white; font-size: 30px; font-weight: 600;">Plano Plus</p>
                @*</div>*@

            </div>
        </div>
        <div class="col-6 col-md-8" style=" padding: 10px; border-radius: 10%; background-color: #111853; width: 350px">
            <p class="sobre-animal">Plano de Saúde Plus</p>
            <ul class="lista">
                <li>Higiene e banho</li>
                <br />
                <li>Tosquia  +</li>
                <br />
                <li>Corte de unhas + </li>
                <br />
                <li>Limpeza das orelhas +</li>
                <br />
                <li>Cuidados Médicos +</li>
                <br />
                <li>Cuidados Dentários +</li>
            </ul>
        </div>
        <div class="col-6 col-md-8" style=" padding: 10px; border-radius: 10%; background-color: #111853; width: 300px; margin-left: 50px;">
            <p class="desc">Plano focado em cuidados básicos plus para seu Pet, para garantir um cuidado usual e implementador para seu animal.</p>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row g-0 text-center">
        <div class="col-sm-6 col-md-4">

            <div class="card" style="width: 16rem; padding: 10px; border-radius: 10%; background-color: #111853">
                <img src="~/Imagens/gato3.png" class="card-img-top" alt="...">
                @*<div class="card-body"style="background-color:#111853; border-radius: 0px 0px 30px 30px">*@
                <p class="card-text" style="color: white; font-size: 30px; font-weight: 600;">Plano Gold</p>
                @*</div>*@

            </div>
        </div>
        <div class="col-6 col-md-8" style=" padding: 10px; border-radius: 10%; background-color: #111853; width:350px">
            <p class="sobre-animal">Plano de Saúde de Ouro</p>
            <ul class="lista">
                <li>Higiene e banho</li>
                <br />
                <li>Corte de pelo e Tosa</li>
                <br />
                <li>Corte de Unhas</li>
                <br />
                <li>Limpeza das Orelhas</li>
                <br />
                <li>Cuidados Dentários</li>
                <br />
                <li>Cuidados Médicos</li>
            </ul>
        </div>
        <div class="col-6 col-md-8" style=" padding: 10px; border-radius: 10%; background-color: #111853; width: 300px; margin-left: 50px;">
            <p class="desc">Plano focado em cuidados básicos plus de ouro para seu Pet,  para garantir um cuidado especial para seu animal.</p>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row g-0 text-center">
        <div class="col-sm-6 col-md-4">

            <div class="card" style="width: 16rem; padding: 10px; border-radius: 10%; background-color: #111853">
                <img src="~/Imagens/gato4.png" class="card-img-top" alt="...">
                @*<div class="card-body"style="background-color:#111853; border-radius: 0px 0px 30px 30px">*@
                <p class="card-text" style="color: white; font-size: 30px; font-weight: 600;">Plano Premium</p>
                @*</div>*@

            </div>
        </div>
        <div class="col-6 col-md-8" style="padding: 10px; border-radius: 10%; background-color: #111853; width:350px;">
            <p class="sobre-animal"> Planos de Sáude Premium</p>
            <ul class="lista">
                <li>Atenção especializada</li>
                <br />
                <li>Médicos particulares</li>
                <br />
                <li>Veterinário particular</li>
                <br />
                <li>Ginecologista particular</li>
                <br />
                <li>Planos Dentários</li>
                <br />
                <li>Planos Médicos</li>
            </ul>
        </div>
        <div class="col-6 col-md-8" style=" padding: 10px; border-radius: 10%; background-color: #111853; width: 300px; margin-left: 50px;">
            <p class="desc">Plano focado em cuidados extremamente atenciosos para seu Pet,  para garantir um cuidado Premium para seu animal.</p>
        </div>
    </div>
</div>


<style>
    .textcentro h4 {
        text-align: center;
        font-size: 68px;
        font-weight: 700;
        color: white;
    }

    .editext {
        font-family: 'Merienda', cursive;
        color: #111853;
    }

    .legal {
        color: #111853;
    }

    .sobre-animal {
        color: white;
        padding-top: 18px;
        font-size: 28px;
    }

    .lista {
        text-decoration: none;
        color: white;
        font-size: 18px;
        list-style-type: none;
    }

    .desc{
       font-size:22px;
       color:white;
       padding-top:125px;
    }
</style>
