@{
    ViewBag.Title = "Sobre";
}

<section class="sobre">
    <div class="container" style="background-color:white;">
        <div class="main">
            <img src="~/Imagens/about.png" style="width:50%" />
            <div class="all-text">
                <h4>Sobre Nós</h4>
                <h1>Sobre a Empresa</h1>
                <p>
                    Bem-vindo à Pet Health, uma empresa líder no mercado de planos de saúde para animais de estimação. Na Pet Health,
                    nosso compromisso é garantir que os animais recebam o melhor cuidado possível, mantendo seus proprietários tranquilos e seguros
                    em relação à saúde de seus companheiros peludos.
                </p>
                <p>
                    Na Pet Health, entendemos que os animais de estimação são parte da família, e é por isso que oferecemos uma ampla gama de planos
                    de saúde abrangentes e personalizados. Nossos planos são projetados para atender às necessidades específicas de cada animal,
                    independentemente da espécie, raça ou idade.
                </p>
                <p>
                    Uma das características distintivas da Pet Health é nossa rede extensa e cuidadosamente selecionada de prestadores de serviços
                    veterinários. Trabalhamos em estreita colaboração com hospitais, clínicas e veterinários especializados em todo o país para garantir
                    que nossos clientes tenham acesso a cuidados de qualidade. Nossa rede inclui profissionais altamente qualificados e instalações equipadas
                    com tecnologia de ponta, proporcionando tranquilidade aos proprietários de animais de estimação.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="sobre">
    <div class="container" style="background-color:white;">
        <div class="main">
            <img src="~/Imagens/logo.png" style="width:40%" />
            <div class="all-text">
                <h1>Paleta de Cores</h1>
                <p>
                    A combinação das cores branco e azul na logo transmite uma sensação de tranquilidade, serenidade e confiança. O branco
                    simboliza pureza, paz e harmonia, enquanto o azul está associado à calma, confiança e estabilidade. Essas cores juntas
                    sugerem um ambiente acolhedor e seguro para os animais de estimação e seus proprietários.
                </p>
                <p>
                    O ícone do gato e cachorro na logo representa a união e a diversidade entre as espécies. Ele simboliza a missão da empresa
                    de cuidar tanto dos gatos quanto dos cachorros, proporcionando serviços e planos de saúde abrangentes para ambos.
                </p>
                <p>
                    O gato e o cachorro são amplamente reconhecidos como animais de estimação populares, e sua presença na logo reforça a conexão
                    emocional entre os proprietários e seus amados companheiros.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="sobre">
    <div class="container" style="background-color:white;">
        <div class="main">
            <img src="~/Imagens/caredog.png" style="width:40%; padding-bottom:30px;" />
            <div class="all-text">
                <h1>Significativo</h1>
                <p>
                    A empresa Pet Health, traz um significado de saúde relacionada ao seu animalzinho, pois, aqui a saúde do seu Pet é o bem
                    mais valoroso. Pet Health (Saúde do Pet)
                </p>
                <p>
                    O nome vem de origem estrangeira (Língua Inglesa). O nome condiz com o significado que ela própria traz.
                </p>
                <p>
                    Transmitir confiança, serenidade e um compromisso com a saúde e o cuidado dos animais são elementos-chave que
                    essa logo pode transmitir aos clientes e ao público em geral.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="sobre">
    <div class="container" style="background-color:white;">
        <div class="main">
            <img src="~/Imagens/lgpd.jpg" style="width:40%" />
            <div class="all-text">
                <h1>Leis LGPD</h1>
                <p>
                    Aqui estão as principais leis da LGPD que se aplicam ao nosso site de animais:
                </p>
                <h2>Consentimento do usuário</h2>
                <p>De acordo com a LGPD, é necessário obter o consentimento explícito dos usuários para coletar e processar seus dados pessoais.</p>
                <h2>Transparência na coleta de dados</h2>
                <p>O site de animais deve fornecer informações claras e detalhadas sobre quais dados pessoais são coletados, como são usados e com quem são compartilhados.</p>

                <h2>Direito de acesso, correção e exclusão de dados</h2>
                <p>Os usuários têm o direito de acessar seus dados pessoais, corrigi-los caso estejam incorretos e solicitar sua exclusão do sistema.</p>

                <h2>Medidas de segurança</h2>
                <p>Devem ser implementadas medidas de segurança adequadas para proteger os dados pessoais dos usuários contra acesso não autorizado, perda ou roubo.</p>

                <h2>Responsabilidade e notificação de violações</h2>
                <p>O site de animais é responsável por proteger os dados pessoais dos usuários e deve notificar as autoridades competentes em caso de violação de segurança que possa comprometer a privacidade dos dados.</p>
            </div>
        </div>
    </div>
</section>

<style>
    .sobre .main img {
        width: 680px;
        max-width: 100%;
        height: auto;
        padding: 0 10px;
    }

    .all-text {
        width: 600px;
        max-width: 100%;
        padding: 0 10px;
    }

    .main {
        width: 1290px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding-top: 30px;
    }

    .all-text h4 {
        font-size: 30px;
        color: #111853;
        letter-spacing: 1px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .all-text h1 {
        font-size: 65px;
        color: #111111;
        font-weight: 800;
        margin-bottom: 20px;
    }

    .all-text p {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 35px;
    }
</style>
